__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/
.pyright/

*.log
*.csv
*.json
*.sqlite3
*.db
*.pkl
*.bak
*.tmp

.vscode/
.idea/
.idea/codeStyles/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/shelf/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml

.env
output/
Results/
logs/
tmp/
